<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @review.user.present? %>
          <a href="/users/<%= @review.user_id %>">
            <%= @review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Dish</dt>
      <dd>
        <% if @review.dish.present? %>
          <a href="/dishes/<%= @review.dish_id %>">
            <%= @review.dish.cousine_id %>
          </a>
        <% end %>
      </dd>

      <dt>Stars</dt>
      <dd><%= @review.stars %></dd>

      <dt>Star</dt>
      <dd><%= @review.star_id %></dd>

      <dt>Comment</dt>
      <dd><%= @review.comment_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @review.user %>
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
